QLabel{font: 16pt "黑体";}
QRadioButton{font: 16pt "黑体";}
QLineEdit{font: 16pt "黑体";}
QComboBox{font: 16pt "黑体";}
QPushButton#delete_Btn,#save_Btn,#print_Btn{font: 20pt "黑体";}
QPushButton#save_Btn{font: 20pt "黑体";}
#leftLimp_Btn,#rightLimp_Btn,#allLimp_Btn{font: 16pt "黑体";}